.prizes-block{
	padding-bottom: 80px;
    position: relative;
    margin-top: 100px;

	h2{
		text-align: center;
	}
	h3{
		font-size: 17px;
		color: #ab8537;
		text-align: center;
		margin-bottom: 20px;
	}
	&.first{
		h3{
			color:#2c2c2c;
			font-size: 20px;
		}
	}
	.sub-tit{
		font-size: 16px;
		color: #6e6e6e;
		text-align: center;
	}
	figure{
		text-align: center;
    	margin: 20px 0;
    	    padding: 0 10px;

		img {

		}
	}
	p{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
		color: #2b2b2b;
	}

	.slider-block {
		
		.slider-prizes{
			max-width: 580px;
		    width: 100%;
			height: 352px;
			margin: 0 auto;
			position: relative;

			.next{
				position: absolute;
				right: -125px;
				top: 45%;
				width: 21px;
				height: 28px;
				cursor: pointer;
				background-repeat: no-repeat;
				background-image: url(../images/rightArrow.png);
				font-size: 0;
			}
			.prev{
				position: absolute;
				left: -125px;
				top: 45%;
				width: 21px;
				height: 28px;
				cursor: pointer;
				background-repeat: no-repeat;
				background-image: url(../images/leftArrow.png);
				font-size: 0;
			}
		}
		li.group {
		    text-align: center;
		    padding: 20px 0;
		    position: absolute;
		    background-image: -moz-linear-gradient( 48deg, rgb(149,123,58) 42%, rgb(229,197,113) 99%);
			background-image: -webkit-linear-gradient( 48deg, rgb(149,123,58) 42%, rgb(229,197,113) 99%);
			background-image: -ms-linear-gradient( 48deg, rgb(149,123,58) 42%, rgb(229,197,113) 99%);
			@include transition(background-image 0.5s ease-in-out);
			border-radius: 10px;
		    width: 100%;
		    margin-left: 100px;
		    @include transform(scale(0.9));
		    z-index: 7;

		    &.active{
		    	background-color: #e5c571;
		    	background-image: none;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    z-index: 9;
			    @include transform(scale(1));
		    }
		    &.active-right{
		    	z-index: 8;
		    }
		    .claim{
		    	background-image: url(../images/BTN.png);
		    	color: #2a2a2a;
		    }
		}
	}
}

.videos-block h2{
	color:#ffffff;
}

.slider-prizes{
	li {
		> span{
			color:#ffffff;
			text-transform: uppercase;
		}
	}
}