$font-size-root: 16px !default;
$font-size-base: 1rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$line-height-base: 1.5 !default;
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$text-muted: $gray-light !default;